<section id="contato" class="container-fluid">
    <div class="container">
        <div class="section-title col-sm-12"><h3><span>Fale Conosco</span></h3></div>
        <div class="home-contato-info text-center col-md-12 hidden-sm hidden-xs"><span>Nossos canais de counicação estão sempre disponíveis: Mande-nos um email que teremos prazer em respondê-lo.</span></div>
        <div class="contato-itens col-xs-12 row slickFal">
            <div class="contato-item col-sm-4 col-xs-12 col-lg-4">
                <div class="home-contato-sac">
                    <a href="mailto:example@example.com" target="_new">
                        <i class="home-contato-icon glyphicon glyphicon-phone center-block text-center"></i>
                        <h5 class="home-contato-title home-fale-title text-center">SAC</h5>
                        <span class="home-contato-text center-block text-center">example@example.com</span>
                    </a>
                </div>
            </div>
            <div class="contato-item col-sm-4 col-xs-12 col-lg-4">
                <div class="home-contato-sac">
                    <a href="mailto:example@example.com" target="_new">
                        <i class="home-contato-icon glyphicon glyphicon-briefcase center-block text-center"></i>
                        <h5 class="home-contato-title text-center">Orçamentos</h5>
                        <span class="home-contato-text center-block text-center">example@example.com</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>