<footer id="footer" class="container-fluid">

    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4 col-sm-4 col-xs-12">
                    <span class="footer-main-logo"><img src="~/images/logotipoconstrutora5.png" width="150" alt="Construtora Logo" /></span>
                    <span class="footer-main-social">
                        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-official"></i></a>
                        <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                    </span>
                    <span class="footer-main-info">
                        Construtora Fulano de Tal<br />
                        CNPJ 00.000.000/0000-00<br />
                    </span>
                </div>
                <div class="footer-col col-md-4 col-sm-4 col-xs-12">
                    <span class="footer-main-title">Sobre</span>
                    <div class="footer-main-line"></div>
                    <ul>
                        <li><a class="page-scroll" href="/#quem">Quem Somos</a></li>
                        <li><a class="page-scroll" href="/#informacoes">Plantas Baixa</a></li>
                        <li><a class="page-scroll" href="/#servicos">Serviços</a></li>
                        <li><a class="page-scroll" href="/#contato:;">Contato</a></li>
                    </ul>
                </div>
                <div class="footer-col col-md-4 col-sm-4 col-xs-12">
                    <span class="footer-main-title">Serviços</span>
                    <div class="footer-main-line"></div>
                    <ul>
                        <li><a href="javascript:;">Exemplo</a></li>
                        <li><a class="page-scroll" href="javascript:;">Exemplo</a></li>
                        <li><a class="page-scroll" href="javascript:;">Exemplo</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-sign">
        <div class="container">
            <div class="row">
                <div class="footer-sign-legal col-md-6 col-sm-6 col-xs-12">
                    Construtora Fulano de Tal - &copy; @DateTime.Now.Year - CNPJ: 00.000.000/0000-00.<br />
                    Todos os direitos reservados. Conheça nossa Política de Privacidade
                </div>
                <div class="footer-sign-dev col-md-6 col-sm-6 col-xs-12">
                    Desenvolvido por: &nbsp;&nbsp;&nbsp;<a href="javascript:;" target=""><img src="~/images/logotipo-dev.png" height="40" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</footer>