<section id="informacoes" class="container-fluid">
    <div class="container">
        <div class="section-title col-xs-12"><h3><span>Conheça mais</span></h3></div>
        <div class="col-md-6">
            <img src="~/images/home-planta-baixa.jpg" width="500" alt="" />
        </div>
        <div class="col-md-6">
            <span class="home-informacoes-text">Lorem ipsum maximus quam non commodo. Integer maximus consectetur lacus, a volutpat nibh ornare non. Donec vestibulum purus nec finibus gravida. Etiam ac lectus rhoncus, pellentesque nisi at, ultricies metus. Curabitur lacinia orci libero, sit amet scelerisque ante hendrerit et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam tortor arcu, fermentum vitae laoreet at, eleifend in enim. Sed eget arcu libero. Praesent turpis leo, blandit eu hendrerit eu, hendrerit in velit. Donec a mi vitae velit lacinia vehicula. Fusce cursus maximus tortor, vel vestibulum est tempus eget. Donec feugiat est ac diam commodo fermentum.</span>
        </div>
        <div class="home-infomacoes-button col-md-12 col-xs-12">
            <a href="https://br.pinterest.com/literatura10bah/planta-baixa-casa">
                <span>Ver Mais Opções de Plantas  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
            </a>
        </div>
    </div>
</section>