<section id="quem" class="container-fluid">
    <div class="container">
        <div class="section-title col-sm-12"><h3><span>Quem Somos?</span></h3></div>
        <div class="col-sm-6 col-xs-12">
            <div class="home-quem-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed volutpat leo, vitae semper nibh. Morbi maximus libero vel orci mollis, vel dapibus nisl consequat. Vestibulum augue arcu, feugiat a erat non, porttitor posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed volutpat leo, vitae semper nibh. Morbi maximus libero vel orci mollis, vel dapibus nisl consequat. Vestibulum augue arcu, feugiat a erat non, porttitor posuere.
            </div>
        </div>
    </div>
</section>