<section id="servicos" class="container">
    <div class="row">
        <div class="section-title col-xs-12"><h3><span>Nossos Serviços</span></h3></div>
    </div>

    <div class="home-servicos-itens">
        <!-- ====================================================== VANTAGENS - ITEM 01 ================================================== -->
        <div class="item col-sm-4 col-xs-12">
            <span class="home-servicos-icon"><img src="~/images/home-servicos-residencias.png" width="120" height="120" alt="" /></span>
            <span class="home-servicos-title">Obras Residenciais</span>
            <span class="home-servicos-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum commodo fermentum. Etiam pulvinar ultricies dolor, quis pellentesque enim congue vitae. Nam pulvinar finibus lacinia. </span>
        </div>
        <!-- ====================================================== VANTAGENS - ITEM 02 ================================================== -->
        <div class="item col-sm-4 col-xs-12">
            <span class="home-servicos-icon"><img src="~/images/home-servicos-residencias.png" width="120" height="120" alt="" /></span>
            <span class="home-servicos-title">Obras Residenciais</span>
            <span class="home-servicos-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum commodo fermentum. Etiam pulvinar ultricies dolor, quis pellentesque enim congue vitae. Nam pulvinar finibus lacinia. </span>
        </div>
        <!-- ====================================================== VANTAGENS - ITEM 03 ================================================== -->
        <div class="item col-sm-4 col-xs-12">
            <span class="home-servicos-icon"><img src="~/images/home-servicos-residencias.png" width="120" height="120" alt="" /></span>
            <span class="home-servicos-title">Obras Residenciais</span>
            <span class="home-servicos-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum commodo fermentum. Etiam pulvinar ultricies dolor, quis pellentesque enim congue vitae. Nam pulvinar finibus lacinia. </span>
        </div>
        <div class="home-servicos-button col-sm-12 col-xs-12">
            <a asp-area="" asp-controller="" asp-action="">
                <span class="hidden-xs">Conheça Nossas Obras</span>
            </a>
        </div>
    </div>
</section>