@model SistemaFinanceiro.Models.Terceiros

@{
    ViewData["Title"] = "Terceiros Edit";
}

<h2>Edit</h2>

<h4>Terceiros</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TerceirosEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <label asp-for="DataCadastro" class="control-label"></label>
                <input asp-for="DataCadastro" class="form-control" readonly data-val="false" />
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cnh" class="control-label"></label>
                <input asp-for="Cnh" class="form-control" />
                <span asp-validation-for="Cnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
                <a class="btn btn-default" asp-action="Terceiros">Voltar</a>
            </div>
        </form>
    </div>
    <table>

        @foreach (var item in Model.ListaDeFinanceriros)
        {
            <tr>
                <td>@item.DataReferencia </td>
                <td>@item.Valor </td>
            </tr>

        }
    </table>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}